<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="" autoReload="true" internalLogFile="logs/internal.log" internalLogLevel="Trace">
  <targets>
    <target xsi:type="Console" name="Katbot-Console"
            layout="${longdate} | ${level:uppercase=true:padding=-4} | ${logger} | ${message} | ${exception:format=tostring} ${all-event-properties}" />
    <target xsi:type="File" name="Katbot-File"
            layout="[${longdate}] [${logger}/${level:uppercase=true}] ${message} ${exception} ${all-event-properties}"
            fileName="${basedir}/logs/Katbot.log" encoding="utf-8" />
    <target xsi:type="File" name="Katbot-Commands-Tracking"
            layout="${longdate} | ${level:uppercase=true:padding=-4} | ${logger} | ${message} | ${exception:format=tostring} ${all-event-properties}"
            fileName="${basedir}/logs/commands_tracking.log" encoding="utf-8" />
  </targets>
  <rules>
    <logger name="Katbot.Services.CommandExecutor" writeTo="Katbot-Commands-Tracking" minlevel="Debug" />
    <logger name="*" writeTo="Katbot-Console,Katbot-File" minlevel="Debug" />
  </rules>
</nlog>