[Unit]
Description=Jacksonbot service

[Service]
WorkingDirectory=/apps/jacksonbot
ExecStart=/usr/bin/dotnet run
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=jacksonbot
User=<<YOUR_USER_NAME>>
Environment=JACKSONBOT_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
